.main{
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.main #logo{
    position: absolute;
    top: 20px;
    width: 88%;
    text-align: center;
}

.main .left{
    height: 90%;
    width: 100%;
    margin-top: 30px;
}

.main .left img{
    height: 200px;
    width: 200px;
}

.left .volume{
    position: absolute;
    bottom: 0;
    left: auto;
    width: 65%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.main .right{
    height: 100%;
    width: 100%;
}

.right .show_song_no{
    position: relative;
    top: 35px;
    left: 0px;
    height: 10px;
    width: 15px;
    background: #2f363e;
}

.right .show_song_no p{
    font-size: 14px;
}

.right #title{
    position: absolute;
    font-size: 20px;
    top: 20px;
}

.right #artist{
    position: absolute;
    top: 55px;
    font-size: 12px;
}

.right .middle{
    margin-top: 45px;
}

.right .middle button{
    height: 50px;
    width: 50px;
}

.right .duration{
    bottom: 36%;
}

.duration #duration_slider{
    width: 50%;
}

.right #auto{
    font-size: 15px;
    margin-top: 55px;
}
